---
import Social from '../components/social.astro';
import Footer from '../components/footer.astro';
import Timeline from '../components/timeline.astro';
import Skills from '../components/skills.astro';
import Resume from '../components/resume.astro';
import Menu from '../components/menu.astro';
import Contact from '../components/contact.astro';
import Header from '../components/header.astro';
import { contentfulClient } from "../lib/contentful";
import type { LandingPage } from "../lib/contentful";

const landingPage = await contentfulClient.getEntries<LandingPage>({
  content_type: "landingPage"
});

const landingPageData = landingPage.items.map((item) => {
  const { greetingsTitle, bio1title, bio2title, iAmList, skillsTitle, skillsSubtitle1, skillsSubtitle2, automationSkillList,
     itSkillList, timelineTitle, timeline1subtitle, timeline2subtitle, resumeTitle, contactTitle, email, skTelNumber,
     czTelNumber, skAddress, czAddress, footerContent, resume
    
    }  = item.fields;
  return {
    greetingsTitle,
    bio1title,
    bio2title,
    iAmList,
    skillsTitle,
    skillsSubtitle1,
    skillsSubtitle2,
    automationSkillList,
    itSkillList,
    timelineTitle,
    timeline1subtitle,
    timeline2subtitle,
    resumeTitle,
    contactTitle,
    email,
    skTelNumber,
    czTelNumber,
    skAddress,
    czAddress,
    footerContent,
    resume,
  };
})[0];

console.log(landingPageData.resume.fields.file.url)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
      <link/>
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content = {Astro.generator} >
        <title>Jan Ksenak space</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JNQCVE32DP"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-JNQCVE32DP');
        </script>
  </head>
  <body>
      <Menu/>
      <section id="Home" class="lg:pt-40 lg:pb-20 pt-32 pb-10 lg:px-24 md:px-20 sm:px-16 px-12  bg-gray-50">
          <Header IAmList={landingPageData.iAmList} TitleBio1={landingPageData.bio1title} TitleBio2={landingPageData.bio2title}TitleGreeting={landingPageData.greetingsTitle}/>
      </section>
      <section id="About" class="">
        <Skills AutomationSkillList={landingPageData.automationSkillList} ITSkillList={landingPageData.itSkillList}  SkillTitle={landingPageData.skillsTitle} SubtitleITSkillList={landingPageData.skillsSubtitle1} SubtitleAutomationSkillList={landingPageData.skillsSubtitle2}/>
        <Timeline TitleTimeline={landingPageData.timelineTitle} SubtitleTimeline1={landingPageData.timeline1subtitle} SubtitleTimeline2={landingPageData.timeline2subtitle}/>
        <Resume ResumeUrl={'https'+ landingPageData.resume.fields.file.url} TitleResume={landingPageData.resumeTitle}/>
      </section>
      <section id="Contact" class="lg:px-24 md:px-20 sm:px-16 px-12 bg-gray-50 md:py-8 py-4">
        <Contact TitleContact={landingPageData.contactTitle} Email={landingPageData.email} SKTelNumber={landingPageData.skTelNumber} CZTelNumber={landingPageData.czTelNumber} SKAddress={landingPageData.skAddress} CZAddress={landingPageData.czAddress}     />
        <Social />
      </section>
      <Footer FooterDescription={landingPageData.footerContent}/>
  </body>
</html>

<style>
  :global(html) {
        scroll-behavior: smooth;
  }
  @media (prefers-reduced-motion: reduce) {
    :global(html) {
      scroll-behavior: auto;
    }
  }
  </style>
  <!-- Google tag (gtag.js) -->