---
const {TitleContact, Email, SKTelNumber, CZTelNumber, SKAddress, CZAddress} = Astro.props;
---
<h2 class="md:text-4xl md:text-left text-3xl text-center font-medium text-gray-900">{TitleContact}</h2>
<div class="grid lg:grid-cols-3 sm:grid-cols-2 md:grid-flow-row place-content-evenly md:py-8 py-4 bg-gray-50">
    <div class="flex flex-row items-center hover:bg-gray-100 py-2 px-6 rounded-lg">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="text-gray-900 md:w-12 md:h-12 w-8 h-8" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <rect x="3" y="5" width="18" height="14" rx="2"></rect>
            <polyline points="3 7 12 13 21 7"></polyline>
         </svg>
         <span class="block pl-4 md:text-lg text-md font-medium text-gray-900">{Email}</span>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100 py-2 px-6 rounded-lg">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="text-gray-900 md:w-12 md:h-12 w-8 h-8" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
         </svg>
         <div>
            <span class="block pl-4 md:text-lg text-md font-medium text-gray-900">
                {SKTelNumber}
             </span>
             <span class="block pl-4 md:text-lg text-md font-medium text-gray-900">
                {CZTelNumber}
             </span>
         </div>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-100 py-2 px-6 rounded-lg">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="text-gray-900 md:w-12 md:h-12 w-8 h-8" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10.828 9.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z"></path>
            <line x1="8" y1="7" x2="8" y2="7.01"></line>
            <path d="M18.828 17.828a4 4 0 1 0 -5.656 0l2.828 2.829l2.828 -2.829z"></path>
            <line x1="16" y1="15" x2="16" y2="15.01"></line>
         </svg>
         <div>
            <span class="block pl-4 md:md:text-lg text-md text-md font-medium text-gray-900">
                {SKAddress}
             </span>
             <span class="block pl-4 md:text-lg text-md font-medium text-gray-900">
                {CZAddress}
             </span>
         </div>
    </div>
</div>